<template>
    <div>
        <button type="button" :class="{ 'btn-xs': true ,'btn-success': isSuccess, 'btn-danger': isDanger, 'btn': isDraft }" >{{ stats }}</button>
    </div>
</template>
<script>
    export default {
        data() {
          return {
            stats: this.stat,
            isSuccess: false,
            isDraft: false,
            isDanger: false,
          }
        },
        mounted: function(){
            if( this.stats == 'publish' ){
                this.isSuccess = true;
            }else if( this.stats == 'deleted'){
                this.isDanger = true;
            }else{
                this.isDraft = true;
            }
        },
        props: ['stat'],
        watch: {
            stat(value){
                this.stats = value; // other way around to get the ID
                if( this.stats == 'publish' ){
                    this.isSuccess = true;
                    this.isDraft = false;
                    this.isDanger = false;
                }else if( this.stats == 'deleted'){
                    this.isDanger = true;
                    this.isSuccess = false;
                    this.isDraft= false;
                }else{
                    this.isDraft = true;
                    this.isDanger = false;
                    this.isSuccess = false;
                }
            }
        }
    }
</script>