/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/**
 * components/typography.less
 * ----------------------
 */
h1 {
  word-break: break-word;
}
h5 {
  font-size: 16px;
  color: #323b46;
}
p {
  line-height: 1.7;
}
.text-dark {
  color: #323b46;
}
.text-light {
  color: #f4f5f7;
}
.text-gray {
  color: #546176;
}
.text-primary {
  color: #4a7bbc !important;
}
.text-success {
  color: #67c298 !important;
}
.text-pink {
  color: #ec2769;
}
.text-violet {
  color: #9482bd;
}
.text-success-darker {
  color: #1c6446;
}
.text-link {
  color: #2f79dc;
}
.text-info {
  color: #5bc0de;
}
.text-warning {
  color: #f0ad4e;
}
.text-danger {
  color: #e04646;
}
.font-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}
.text-muted {
  color: #7f8b99 !important;
}
.line-header {
  text-align: center;
  margin: 0 0 35px;
  font-size: 10px;
  position: relative;
  z-index: 1;
  padding: 0 15px;
  color: #c5c8cf;
}
.line-header:before {
  border-top: 1px solid #c5c8cf;
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.line-header span {
  background-color: #fff;
  padding: 0 15px;
  display: inline-block;
}
strong,
.extra-bold {
  font-weight: 800;
}
a {
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  outline: none;
  cursor: pointer;
}
/* Small devices (tablets, 768px and down) */
@media (max-width: 991px) {
  h1 {
    font-size: 24px ;
  }
  h2 {
    font-size: 20px ;
  }
  p {
    font-size: 14px ;
  }
  .font-xs {
    font-size: 10px ;
  }
  .font-sm {
    font-size: 12px ;
  }
  .font-md {
    font-size: 14px ;
  }
  .font-lg {
    font-size: 18px ;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 30px ;
  }
  h2 {
    font-size: 26px ;
  }
  p {
    font-size: 16px ;
  }
  .font-xs {
    font-size: 11px ;
  }
  .font-sm {
    font-size: 14px ;
  }
  .font-md {
    font-size: 16px ;
  }
  .font-lg {
    font-size: 20px ;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 36px ;
  }
  h2 {
    font-size: 34px ;
  }
  .font-xs {
    font-size: 12px ;
  }
  .font-sm {
    font-size: 16px ;
  }
  .font-md {
    font-size: 18px ;
  }
  .font-lg {
    font-size: 24px ;
  }
}
.tab-header {
  text-align: center;
  color: #546176;
}
@media (min-width: 768px) {
  .tab-header {
    padding: 40px 0;
    margin: 0;
  }
}
.blockquote--primary {
  border: 1px solid #d3dce5;
  border-radius: 2px;
  border-left: 4px solid #439ad5;
  font-size: 16px;
  padding: 10px 15px 15px;
}
.blockquote--primary .fa-stack {
  font-size: 12px;
  color: #439ad5;
}
.blockquote--primary p {
  margin-left: 28px;
}
.modal-mask {
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease;
}
.selectize-input {
  border-radius: 0 !important;
}
.markdown-editor .CodeMirror,
.markdown-editor .CodeMirror-scroll {
  min-height: 100px !important;
}
.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 7px;
}
.file-upload .file-select {
  border-radius: 5px;
  display: block;
  border: 2px solid #9da4b0;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #d3dce5;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select .file-select-button {
  border-right: 2px solid #9da4b0;
  background: #c5cacb;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}
.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload .file-select .file-select-disabled {
  opacity: 0.65;
}
.file-upload:active .file-select .file-select-button {
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload:hover .file-select {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload:hover .file-select .file-select-button {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
