/**
 * components/typography.less
 * ----------------------
 */


h1 {
    word-break: break-word;
}

h5{
    font-size: @font-size-h5;
    color: @gray-dark;
}

p {
    line-height: 1.7;
}

.text-dark {
    color: @gray-dark;
}

.text-light {
    color: @gray-lightest;
}

.text-gray {
    color: @gray;
}

.text-primary {
    color: @brand-primary !important;
}

.text-success {
    color: @brand-success !important;
}

.text-pink {
    color: @pink;
}
.text-violet {
    color: @violet;
}
.text-success-darker {
    color: @green-darker;
}
.text-link {
    color: @blue-action;
}
.text-info {
    color: @brand-info;
}

.text-warning {
    color: @brand-warning;
}

.text-danger {
    color: @brand-danger;
}

.font-light{
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-muted {
    color: @gray-light !important;
}

.line-header {
    text-align: center;
    margin: 0 0 35px;
    font-size: 10px;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    color: @zenvoy-gray;

    &:before {
        border-top: 1px solid @zenvoy-gray;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    span {
        background-color: #fff;
        padding: 0 15px;
        display: inline-block;
    }
}

strong,
.extra-bold {
    font-weight: 800;
}

a {
    .transition(all .2s ease-in-out);

    &:hover,
    &:focus {
        outline: none;
        cursor: pointer;
    }
}

/* Small devices (tablets, 768px and down) */
@media (max-width: @screen-sm-max) {
 
    h1{
        font-size: 24px ;
    }
      
    h2 {
        font-size: 20px ;
    } 

    p {
        font-size: 14px ;
    } 

    .font-xs{
      font-size: 10px ;
    }

    .font-sm{
      font-size: 12px ;
    }

    .font-md{
      font-size: 14px ;
    } 

    .font-lg{
      font-size: 18px ;
    } 
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    h1{
        font-size: 30px ;
    }
     
    h2 {
        font-size: 26px ;
    }

    p {
        font-size: 16px ;
    }

    .font-xs{
        font-size: 11px ;
    }

    .font-sm{
      font-size: 14px ;
    }

    .font-md{
      font-size: 16px ;
    }

    .font-lg{
      font-size: 20px ;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

    h1 {
        font-size: 36px ;
    }

    h2 {
        font-size: 34px ;
    }

    .font-xs{
      font-size: 12px ;
    }

    .font-sm{
      font-size: 16px ;
    }

    .font-md{
      font-size: 18px ;
    }

    .font-lg{
      font-size: 24px ;
    }
}

.tab-header {
   
    text-align: center;
    color: @gray;

    @media (min-width: @screen-sm-min) {
        padding: 40px 0;
         margin: 0;
    }
}

.blockquote--primary {
    border: 1px solid @gray-lighter;
    border-radius: 2px;
    border-left: 4px solid @blue-sky;
    font-size: @font-size-base;
    padding: 10px 15px 15px;
    
    .fa-stack {
        font-size: 12px;
        color: @blue-sky;
    }

    p {
        margin-left: 28px;
    }
}
