<template>
    <div>
        <div class="modal fade in bs-example-modal-lg modal-mask" id="myModal" tabindex="-1" role="dialog" style="display: block" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" @click="$emit('close')" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Title</h4>
                    </div>

                    <form name="frmBlog" class="form-horizontal" v-on:submit.prevent="submitFrmBlog">
                        <div class="modal-body">
                        <!-- start accordion -->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="panel-title">Information</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                

                                <div :class="{'form-group': true, 'bad': errors.has('title')}">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control has-error" v-validate="'required'" v-model="form.title" id="title" placeholder="Title" name="title">
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('content')}">
                                    <label for="content" class="col-sm-2 control-label">Content</label>
                                    <div class="col-sm-10">
                                        <markdown-editor v-model="form.content" preview-class="markdown-body" ref="markdownEditor"></markdown-editor>
                                    </div>
                                </div>

                                <div class="form-group error">
                                    <label for="tags" class="col-sm-2 control-label">Tags</label>
                                    <div class="col-sm-10">
                                        <selectize multiple v-model="selected" :settings="options" :options="tags"> 
                                          <option v-for="tag in tags" :value="tag.id">{{ tag.tags }}</option>
                                        </selectize>
                                    </div>
                                </div>

                                <div :class="{'form-group': true, 'bad': errors.has('statss')}">
                                    <label for="tags" class="col-sm-2 control-label">Action</label>
                                    <div class="col-sm-10">
                                          <selectize name="statss" class="form-control" v-validate="'required'" v-model="form.status" :settings="statusOption" :options="stats"> 
                                            <option v-for="stat in status" :value="stat">{{ stat }}</option>
                                        </selectize>
                                    </div>
                                </div>
                                

                              </div>
                            </div>
                          </div>
                          <div class="panel">
                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h4 class="panel-title">Featured Image</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">

                                <div :class="{'form-group': true}" >
                                    <label for="featuredImage" class="col-sm-2 control-label">Featured Image</label>
                                    <div class="col-sm-10">
                                        <div v-if="imgSrc.length == 0">
                                            <ImageCropper></ImageCropper>
                                        </div>
                                        <div v-else >
                                            <vue-cropper
                                                ref="cropper"
                                                :guides="cropper.guides"
                                                :view-mode="cropper.viewMode"
                                                :drag-mode="cropper.dragMode"
                                                :auto-crop-area="cropper.autoCropArea"
                                                :min-container-width="cropper.minContainerWidth"
                                                :min-container-height="cropper.minContainerHeight"
                                                :background="cropper.background"
                                                :rotatable="cropper.rotatable"
                                                :src="imgSrc"
                                                :img-style="cropper.imgStyle"
                                                :aspect-ratio="cropper.aspectRatio"
                                                :cropmove="cropImage" v-if="imgSrc.length > 0">
                                            </vue-cropper>
                                        </div>
                                    </div>
                                </div>
                                <div :class="{'form-group': true}" >
                                    <label for="featuredImage" class="col-sm-2 control-label">Select Image</label>
                                    <div class="col-sm-10">
                                        <choose-file @atchange="dataChange" ></choose-file>
                                    </div>
                                </div>
                                


                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end of accordion -->
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btn-save" data-loading-text="Saving.. <i class='fa fa-spinner fa-spin'></i>" ref="btn_profile_info" >Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
  @import '~simplemde/dist/simplemde.min.css';
  @import '~github-markdown-css';
</style>
<script>
    import store_mix from '../../store';
    import { mapGetters } from 'vuex';
    import markdownEditor from 'vue-simplemde/src/markdown-editor'

    export default {
        data() {
          return {
            id: this.blogID, // other way around to get the ID
            result : [],
            tags: [],
            selected: [],
            stats: '',
            form: {
              content: '',
              created_at: '',
              id: '',
              status: '',
              tags: '',
              title: '',
              updated_at: '',
              user_id: '',
            },
            selected_file: '',
            errorHandler: '',
            processUpload: false,
            status: ['deleted','publish','draft'],
            options: {
                plugins: ['remove_button'],
                maxItems: null,
                create: true,
                placeholder: 'Select Tags',
                onOptionAdd : function(value, $item ){
                    //alert($item.$order);

                    // test this code
                    /*
                    create:function (input, callback){
                        callback({
                            value: 123, // probably your ID created or something
                            text: input
                        });
                    } */
                }
            },
            statusOption: {
                create: false,
                placeholder: 'Select Action'
            },
            imgSrc: '',
            cropperData: {},
            cropImg: '',
            cropper: {
                guides: true,
                viewMode: 2,
                dragMode: 'crop',
                autoCropArea: 0.6, 
                minContainerHeight: 400,
                minContainerWidth:300,
                background: true,
                rotatable: true,
                aspectRatio: 1,
                imgStyle: {
                    width: '100%',
                    height: '300px'
                }
            },
          }
        },
        mounted: function(){
            if( this.id > 0 ){
                axios.get('/admin/blog/'+this.id)
                    .then( response => {
                      var data = response.data.blog;
                      var featured_img = response.data.featuredImage;
                      if( featured_img.id > 0 ){
                        this.imgSrc = response.data.imagePath+'/'+featured_img.name+'.'+featured_img.ext_name;
                      }else{
                        this.imgSrc = '';
                      }
                      this.tags = response.data.tags;
                      this.form.content = data.content;
                      this.form.title = data.title;
                      this.selected = response.data.tagsSelected;
                      this.form.status = data.status;
                    })
            }else{
                axios.get('/admin/blog/showalltags')
                  .then( response => {
                    this.tags = response.data.tags
                  })
                this.imgSrc = '';
                /* OLD CODE TO STORE
                var imgVar = {
                    imgSrc : '',
                    fileName : '',
                }
                this.$store.dispatch('trigSaveImgSrc',imgVar);
                */
            }
        },
        props: ['resulta','blogID'],
        created(){
            
        },
        computed: {
            ...mapGetters({
                fileName: 'fileName',
                pagination: 'pagination',
              }),
        },
        components: {
            Selectize: require('vue2-selectize'),
            markdownEditor,
            ImageCropper: require('../ImageCrop.vue'),
            chooseFile: require('../chooseFile.vue'),
        },
        watch: {
            resulta(value) {
                this.result = value;
            },
            blogID(value){
                this.id = value; // other way around to get the ID
            }
        },
        methods: {
            cropImage: function(){
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
                this.cropperData = this.$refs.cropper.getData();
            },
            dataChange: function(value){
                this.imgSrc = value.imgSrc;
            },
            submitFrmBlog: function(){
                var self = this;
                this.$validator.validateAll().then((result) => {
                    if( result ){
                        $(self.$refs.btn_profile_info).button('loading');
                        var form = self.form;
                        var data = {
                            title: form.title,
                            content: form.content,
                            status: form.status,
                            tags: self.selected,
                            id: self.id,
                            cropData : this.cropperData,
                            photo_data_url: self.imgSrc,
                            fileName: self.fileName,
                        }

                        if( self.id > 0 ){ // This would be Edit
                            
                            axios.post('/admin/blog/'+this.id,data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_profile_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                })

                        }else{ // This will be ADD

                            axios.post('/admin/blog',data)
                                .then( response => {
                                    if( response ){
                                        $(self.$refs.btn_profile_info).button('reset');
                                        self.$emit('reloader',this.pagination.current_page); // call this to reload ^_^
                                        this.$emit('close');
                                    }
                                })

                        }   
                        

                    }
                });
            }
        },
    }
</script>
<style>
@import "~selectize/dist/css/selectize.bootstrap3.css";
</style>