<template>
	<div>
		<blockquote class="blockquote--primary photo-tips" >
			<h4>
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-info fa-stack-1x"></i>
				</span>
				Profile photo tips
			</h4>
			<p>Before uploading, check that:</p>
			<ul>
				<li>You use a photo with a professional theme</li>
				<li>You leave some space around your face when cropping</li>
				<li>You use a .jpg or .png. <strong>5mb max</strong></li>
				<li>You try to use a photo that is <strong>256px</strong> or larger</li>
			</ul>
		</blockquote>
	</div>
</template>
<script>
import utils from '../mixins/utils';
import store_mix from '../store';
import { mapGetters } from 'vuex';

    export default {
    	mixins: [store_mix,utils],
        data() {
          return {
            errorHandler: '',
          }
        },
        mounted() {
          
        },
        methods: {
        },
        components: {
        },
        computed: {
            ...mapGetters({
                imgSrc: 'imgSrc',
              }),
            
            
        }
    }
</script>