<template>
    <div>
        <div class="x_title">
            <h2>Blog</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" >
            <p class="pull-left">Simple table with project listing with progress and editing options</p>
            <span class="pull-right"><a href="javascript:void(0);" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Add </a></span>
            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 20%">Title</th>
                  <th>Content</th>
                  <th>Tags</th>
                  <th>Status</th>
                  <th style="width: 20%">#Edit</th>
                </tr>
              </thead>

              <tbody>
                
                <tr>
                  <td>#</td>
                  <td>
                    <small>Created at</small>
                  </td>
                  <td>
                    content
                  </td>
                  <td class="project_progress">
                    <a href="javascript:void(0);" class="btn btn-info btn-xs" >Tags</a>
                  </td>
                  <td>
                    <span>
                      <button type="button" class="btn btn-success btn-xs">status</button>
                    </span>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    <a href="javascript:void(0);" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    
                    <a href="#" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- end project list -->

          </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Blog Components Ready.')
        }
    }
</script>