body {
  text-align: center;
  > #container {
    text-align:left;
    margin:0 auto;
    width:500px;
  }
}


header {
  h1 {
    font-size:26px; margin-bottom:26px;
  }
}
div[role="main"] {
  margin-bottom:25px; 
  
  ul {
    padding-top:14px;
  }
  li {
    margin-bottom:12px;
  }
}